/***
 * Reset styles
 ***/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/***
 * Global styles
 ***/

body {
  background: #000000;
  color: #FFFFFF;

  font-family: 'DotGothic16', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  padding: 60px 20px;

  text-transform: uppercase;
}

main {
  max-width: 428px;
}

section {
  margin-top: 60px;
  margin-bottom: 60px;
}

h1 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05ch;
}
h2 {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.3;
}

a {
  color: #FFFFFF;
}
a:hover {
  color: #FAC515;
  text-decoration: underline;
}

li {
  margin-top: 4px;
  margin-bottom: 4px;
}

footer {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05ch;
  opacity: 0.5;
}

/***
 * Utility classes
 ***/

.accent {
  color: #FAC515;
}

.two-column {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.two-column > * {
  width: 138px;
}
